.menu {
    padding: 0 24px;
    display: flex;
    align-items: center;

    i {
        font-size: 28px;
        margin-right: 16px;
        line-height: 28px;
        display: flex;
        align-content: center
    }

    i :hover {
        cursor: pointer;
    }
}

h4 {
    margin: 0;
}

form {
    width: 100%;
}
