<div class="container">
    <!-- 页头 -->
    <nz-page-header [nzTitle]="taskName" (nzBack)="toggleGoBackModalVisible()" nzBackIcon></nz-page-header>

    <nz-divider></nz-divider>

    <!-- 内容 -->
    <div class="content">
        <nz-descriptions [nzColumn]="2">
            <nz-descriptions-item nzTitle="截止时间">{{endTime | date: "yyyy-MM-dd HH:mm:ss"}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="任务状态">
                <nz-badge *ngIf="completeState == 1" nzStatus="processing" nzText="进行中"></nz-badge>
                <nz-badge *ngIf="completeState == 2" nzStatus="warning" nzText="已提交"></nz-badge>
                <nz-badge *ngIf="completeState == 3" nzStatus="error" nzText="已驳回"></nz-badge>
                <nz-badge *ngIf="completeState == 4" nzStatus="success" nzText="已通过"></nz-badge>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="任务内容">{{taskContent}}</nz-descriptions-item>
        </nz-descriptions>
        <form nz-form (ngSubmit)="updateTaskComplete()" #updateTaskCompleteForm="ngForm">
            <nz-form-item>
                <nz-form-control nzErrorTip="内容不能为空">
                    <textarea name="completeContent" [nzAutosize]="{ minRows: 6 }"
                              [disabled]="completeState == 2 || completeState == 4" [(ngModel)]="completeContent"
                              required nz-input></textarea>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <nz-upload nzAction="/file/upload" nzType="drag" [nzBeforeUpload]="beforeUpload"
                               [nzDisabled]="completeState == 2 || completeState == 4"
                               [(nzFileList)]="fileList">
                        <p class="ant-upload-drag-icon">
                            <i nz-icon nzType="inbox"></i>
                        </p>
                        <p class="ant-upload-text" nz-typography>点击或拖拽文件到这里进行上传。</p>
                        <p class="ant-upload-hint" nz-typography>
                            只支持上传doc、docx、xls、xlsx、ppt、pptx、pdf、zip、jpg、jpeg、png格式的文件，且文件大小不超过10Mb
                        </p>
                    </nz-upload>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button nzType="primary"
                            [disabled]="!((updateTaskCompleteForm.form.valid || fileList.length > 0) && (completeState == 1 || completeState == 3))"
                            nz-button>提交
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>

<nz-modal [(nzVisible)]="goBackModalVisible" nzTitle="返回上一页？" (nzOnCancel)="toggleGoBackModalVisible()"
          (nzOnOk)="goBack()">
    <ng-container *nzModalContent>
        <p nz-typography>确认离开？所有内容将会清空！</p>
    </ng-container>
</nz-modal>
