<div class="container">
    <form nz-form (ngSubmit)="loginStudent()" #loginStudentForm="ngForm">
        <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="学号不能为空">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" name="studentNo" [(ngModel)]="studentNo" placeholder="学号" required nz-input/>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="密码不能为空">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" name="studentPassword" [(ngModel)]="studentPassword" placeholder="密码"
                           required nz-input/>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <button nz-button class="login-form-margin" nzType="primary" [disabled]="!loginStudentForm.form.valid">登录
        </button>
    </form>
</div>
